.title_company,
.title_job,
.title_salary,
.title_region,
.title_skill {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: auto 20px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
  }

  &::before {
    width: 18px;
    height: 18px;
  }

  &::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
}

.title_company {
  color: royalblue;

  &::before,
  &::after {
    background-color: royalblue;
  }
}

.title_job {
  color: rgb(238, 178, 94);

  &::before,
  &::after {
    background-color: rgb(238, 178, 94);
  }
}

.title_salary {
  color: #ff0000;

  &::before,
  &::after {
    background-color: #ff0000;
  }
}

.title_region {
  color: #ff1493;

  &::before,
  &::after {
    background-color: #ff1493;
  }
}

.title_skill {
  color: rgb(0, 206, 209);

  &::before,
  &::after {
    background-color: rgb(0, 206, 209);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

sort-button {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
  border-radius: 7px;
  border: 2px solid rgb(61, 106, 255);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;

  &:hover {
    color: white;
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    transition: all 0.2s ease-out;

    &::before {
      animation: sh02 0.5s 0s linear;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #04242a;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
  }
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to bottom,
    rgba(192, 230, 245, 0.818),
    rgba(188, 228, 244, 0.616),
    rgb(211, 238, 248),
    rgb(221, 239, 245),
    rgb(225, 238, 242),
    white
  );
}

.top {
  display: flex;
  margin: 0px auto;
  text-align: center;
  align-items: center;
}

.sort {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.some {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: 0;
}

.left,
.right {
  overflow-y: auto;
}

.left {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.right {
  flex: 1;
  border: 2px rgb(142, 136, 136) solid;
  border-radius: 10px;
  margin: 5px 0 10px 10px;
  overflow-y: scroll;
  position: relative;
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
  width: 0.5em;
}

.left::-webkit-scrollbar-track,
.right::-webkit-scrollbar-track {
  background-color: transparent;
}

.left::-webkit-scrollbar-thumb,
.right::-webkit-scrollbar-thumb {
  background-color: #88888800;
}

.custom-progress {
  margin-left: auto;
  position: relative;
}

.percentage-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 18px;
}

.percentage-label {
  display: block;
  font-size: 12px;
  margin-top: 80px;
}

:deep(.demo-progress .el-progress--line) {
  margin-bottom: 15px;
  max-width: 200px;
}

.card {
  height: 135px;
  width: 290px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 5px 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  &:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
}

.company_name {
  color: rgb(134, 134, 134);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.job {
  margin-left: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-title,
.work_name,
.work_salary {
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.work_salary {
  color: red;
}

.Info-container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.job-header {
  width: 45vw;
  margin: 60px auto 0 50px;
  padding: 20px;
}

.job-title {
  font-size: 50px;
  margin-bottom: 10px;
}

.company-name {
  font-size: large;
  margin-bottom: 10px;
  color: #555;
}

.job-details {
  margin-bottom: 20px;

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: medium;
  }
}

.job-card {
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 0 50px 0 auto;
}

.job-info {
  padding: 0 0 50px 0;
  overflow-y: auto;
}

.apply-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.flex {
  display: flex;
}

.margin {
  margin: 8px;
}

.job-description-card {
  margin: 10px;
  border: 2px solid rgb(164, 224, 248);
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  overflow: visible;
  position: relative;
  transition: 0.5s ease-out;
  padding: 5px 10px;

  &:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  &:hover .card-button {
    transform: translate(-50%, 20%);
    opacity: 1;
  }
}

.send-button {
  font-family: inherit;
  font-size: 13px;
  background: skyblue;
  color: white;
  padding: 0.5em 0.7em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 20px;
}

.send-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send-button:hover span {
  transform: translateX(5em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
}
